<!DOCTYPE html>

<< if @connected: >>
  {{ aek.set_aek_version("2.0") }}
  {{ aek.set_header_text('<<- @title >>') }}
<< end >>

<< content 'init' >>

<html lang="en" data-aek-package="[[__package_data__]]" data-env="<<= @env >>" data-platform="<<=if @connected then '{{ aek.get_platform() }}' else 'web2' >>" >
<head>
  <meta charset="utf-8">
  <title><<= @title >></title>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1">
  << content 'head' >>
</head>

<body <<- @get_body_attributes() >> >
  
  << content 'body' >>

  <script type="text/aekdefer">
    
    var sheets = <<- JSON.stringify(@get_stylesheets()) >>;
    sheets = sheets.map(function(s) {return s.match(/^(https?:\/)?\//) && s || "[[__public_assets__]]/css/"+s+".css"});
    
    var scripts = <<- JSON.stringify(@get_scripts()) >>;
    scripts = scripts.map(function(s) {return s.match(/^(https?:\/)?\//) && s || "[[__public_assets__]]/js/"+s+".js"});
    
    _aekLoad(sheets.concat(scripts));
  
  </script>

  <script>
    window.addEventListener("load",function() {
      var script = document.createElement("script");
      script.src = "https://portal.ombiel.co.uk/assets/aek/aek-loader/0.0.5/packed/loader.js";
      document.head.appendChild(script);
    });
  </script>

</body>
</html>